body {
    background-color: blue;
}
/*Header styles*/
#headerPageVisibility {
    display: none;
}

.header {
    display: flex;
    margin: 10px 100px;
    justify-content: space-around;
}

.header-img {
    margin: auto 0px;
    width: 70px;
    height: 70px;
}

.header h1 {
    margin: auto 0px;
    font-size: 30px;
}

.header-hashtag {
    margin: auto 0px;
}

.header p {
    margin: 0px;
}

/*Aside styles*/
.aside-start__button {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aside-add__button {
    cursor: pointer;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aside-start__menu button {
    border: 1px solid white;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.732);
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    margin: 0px 12px;
    padding: 2px 4px;
    background-color: blue;
}

.aside-start__menu button:hover{
    background-color: grey;
    transition: all 0.5s;
}

#asideTextarea {
    visibility: hidden;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-hidden {
    color: white;
    background-color: rgba(0, 0, 0, 0.704);
    text-align: center;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.button {
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.812);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
}

.button:hover {
    color: black;
    background-color: rgba(128, 128, 128, 0.373);
    transition: all 0.5s;
}

/*Main styles*/
#mainPageVisibility {
    visibility: hidden;
}

.main-display {
    margin-left: 25%;
    display: inline-block;
    width: 50%;
    height: 370px;
    background-color: rgba(128, 128, 128, 0.51);
    text-align: center;
}

#main-display_result {
    display: inline-block;
    margin-top: 177px;
}

.main-form {
    text-align: center;
    margin: auto auto;
}

.main-form input {
    border: 0px;
    text-align: center;
    outline: none;
}

#incomingLetter {
    visibility: hidden;
}
#underscore {
    visibility: hidden;
}
#wrongLetters {
    visibility: hidden;
}

.main-form div {
    margin: 8px 0px;
}

.main-form button {
    margin-top: 2px;
}

/*Footer style*/
#footerPageVisibility {
    display:none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.footer__red-social a img {
    border-radius: 50%;
    border: 1px solid #f3f4f5;
    width: 40px;
}

.footer__red-social a {
    text-decoration: none;
}

.footer__red-social a img:hover {
    transition: all 0.4s;
    background-color: white;
}

.footer__browser {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer__browser a {
    color: #232fda;
    font-weight: bold;
} 

.footer__dev {
    margin-top: 3px;
    margin-bottom: 0px;
}

@media(min-width:320px) and (max-width:424px) {
    
    .footer {
        font-size: 9px;
    }
}
