html, body, pre, code, kbd, samp {
    font-family: "font-family you want to use";
}

/*Header styles*/
#headerPageVisibility {
    display: none;
}

.header {
    display: flex;
    margin: 10px 100px;
    justify-content: space-around;
    user-select: none;
}

.header-img {
    margin: auto 0px;
    width: 70px;
    height: 70px;
}

.header h1 {
    margin: auto 0px;
    font-size: 20px;
}

.header-hashtag {
    margin: auto 0px;
}

.header p {
    margin: 0px;
    font-size: 10px;
}

.first-letter{
    color: #232fda;
}

/*Aside styles*/
.aside-start__button {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aside-add__button {
    cursor: pointer;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#asideTextarea {
    margin: 20px 0px;
    visibility: hidden;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-hidden {
    color: white;
    background-color: rgba(0, 0, 0, 0.704);
    text-align: center;
    outline: none;
}

/*Main styles*/
#mainPageVisibility {
    margin: 30px auto;
    visibility: hidden;
}

.nes-container {
    margin: 0px auto;
    width: 50%;
}

#mainDisplay {
    display: inline-block;
    width: 100%;
    height: 340px;
    background-color: rgba(103, 101, 101, 0.83);
    text-align: center;
    background-image: url(/assets/img/img_ahorcado/img_01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#main-display_result {
    display: inline-block;
    margin-top: 177px;
}

.main-form {
    text-align: center;
    margin: 4px auto;
    font-size: 10px;
}

.main-form input {
    background-color: rgba(102, 100, 100, 0.47);
    border-color: rgba(0, 0, 0, 0.293);
    width: 50%;
    text-align: center;
    outline: none;
}

.main-form div {
    margin-top: -10px;
}

#incomingLetter {
    visibility: hidden;
}
#underscore {
    visibility: hidden;
}
#wrongLetters {
    visibility: hidden;
}

/*Footer style*/
#footerPageVisibility {
    display:none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-bottom: 5px;
    user-select: none;
}

.footer__red-social a img {
    border-radius: 50%;
    border: 1px solid #f3f4f5;
    width: 40px;
}

.footer__red-social a {
    text-decoration: none;
}

.footer__red-social a img:hover {
    transition: all 0.4s;
    background-color: white;
}

.footer__browser {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer__browser a {
    color: #232fda;
    font-weight: bold;
} 

.footer__dev {
    margin-top: 3px;
    margin-bottom: 0px;
}

@media(min-width:320px) and (max-width:650px) {
    
    .header h1 {
        font-size: 8px;
    }

    .header-hashtag {
        display: none;
    }

    .header p {
        font-size: 6px;
    }

    #mainTitle {
        font-size: 9px;
    }

    #main-display_result {
        font-size: 5px;
    }

    .footer {
        font-size: 6px;
    }
}
